<!-- container streches this stuff -->
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="background-color: aqua;">
            <div class="card-header">
                {{tmp.id}} {{tmp.name}}
            </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-2" style="background-color: aqua;">
            asdf
        </div>
        <div class="col-sm-8" style="background-color: aqua;">
            asdf
        </div>
        <div class="col-sm-2" style="background-color: aqua;">
            asdf
        </div> -->
        <div class="col-sm-12" style="background-color: aqua;">
            <div class="large-text">
                Описание товара: {{tmp.description}}
            </div>
            <div class="large-text">
                Кол-во: {{tmp.count}}
            </div>
            <div class="px-0 no-gutters" style="align-content: center;">
                <img src="{{tmp.imgUrl}}" class="img-fluid" style="width: auto; height: 150px;">
            </div>
        </div>
    </div>
</div>