.example-card {
    /* max-width: 400px; */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

img.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

div.card-header {
    text-align: center;
    font-size: xx-large;
}

div.large-text {
    font-size: xx-large;
}

mat-grid-tile {
    background: lightblue;
}

div.any {
    position: absolute;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*You can add anything else to this like image, background-color, etc.*/
}

.fullscreen {
    position: fixed;
    background-color: green;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}