<!-- container streches this stuff -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6 large-text" (click)="getTestProduct()">
                    <!-- ИТОГО: {{finalPrice() | number: '2.2-2'}}p -->
                    <!-- ИТОГО: {{countAll()}} шт. -->
                    ИТОГО: {{finalPrice() | number: '2.2-2'}} руб.
                </div>
                <div class="col-6 large-text" style="text-align: end; vertical-align: middle; padding-bottom: 0.2em;">
                    <button type="button" class="btn btn-warning" (click)="goToShopFloor()">
                        Карта магазина
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--  table-responsive-md -->
        <table class="table table-striped table-bordered table-sm" style="font-size: 14px; width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th scope="col">#</th>
                    <th class="text-center" scope="col">НАИМЕНОВАНИЕ</th>
                    <th class="text-center" scope="col">КОЛ-ВО, шт.</th>
                    <th class="text-center" scope="col">ЦЕНА, руб.</th>
                    <th class="text-center" scope="col">ИТОГО, руб.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList; let i = index"
                (click)="rowSelected(i)">
                    <th scope="row">{{i + 1}}</th>
                    <td style="width: 40%; word-break: break-all;">
                        {{item.name}}
                    </td>
                    <!-- <td style="width: 30%;">
                        {{item.count}}
                    </td> -->
                    <td>
                        {{item.count}}
                    </td>
                    <!-- <td>
                        208
                    </td> -->
                    <td>
                        {{item.price | number: '2.2-2'}} руб.
                    </td>
                    <td>
                        {{item.price * item.count | number: '2.2-2'}} руб.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>