
<!-- <img mat-card-lg-image src="{{selectedProduct.imgUrl}}"> -->
<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>
            <div>
                {{selectedProduct.name}}
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <div>
                            Кол-во: {{selectedProduct.count}} шт.
                        </div>
                        <div>
                            Цена за шт.: {{selectedProduct.price | number: '2.2-2'}} р
                        </div>
                        <div>
                            ИТОГО: {{selectedProduct.price * selectedProduct.count | number: '2.2-2'}} р
                        </div> 
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <img class="rounded float-right" mat-card-lg-image src="{{selectedProduct.imgUrl}}">
                        </p>
                      </div>
                </div>
            </div>
            
        </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <!-- <p style="word-break: break-all;">
                    {{selectedProduct.description}}
                </p> -->
                {{selectedProduct.description}}
              </div>
              <!-- <div class="col-sm-6">
                <p>
                    <img class="rounded float-right" mat-card-lg-image src="{{selectedProduct.imgUrl}}">
                    {{selectedProduct.description}}
                </p>
              </div> -->
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Назад</button>
    </mat-card-actions>
</mat-card>