<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h4>{{selectedProduct.name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div>
                Кол-во: {{selectedProduct.count}} шт.
                <img class="img-responsive float-right" style="width: 30%; object-fit: cover; height: 30%;"
                    src="{{selectedProduct.imgUrl}}">
            </div>
            <div>
                Цена за шт.: {{selectedProduct.price | number: '2.2-2'}} р
            </div>
            <div>
                ИТОГО: {{selectedProduct.price * selectedProduct.count | number: '2.2-2'}} р
            </div>
        </div>
        <!-- <div class="col-auto">
            <div>
                <img class="img-responsive float-right" style="width: 30%; object-fit: cover; height: 30%;" src="{{selectedProduct.imgUrl}}">
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div>
                {{selectedProduct.description}}
            </div>
            <div>
                <button routerLink=".." class="float-right" mat-button>
                    Назад
                </button>
            </div>
        </div>
    </div>
</div>