.product-card {
    max-width: 490px;
    max-height: 320px;
  }

/* mat-card img {
    object-fit: cover;
    width: 100%;
    height: 80%;
} */
/* 
.main-img-container {
    height: 200px;
    width: 200px;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
} */