<!-- container streches this stuff -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6 large-text">
                    СУММА: 100р
                </div>
                <div class="col-6 large-text" style="text-align: end; vertical-align: middle; padding-bottom: 0.2em;">
                    <button type="button" class="btn btn-danger">
                        Карта магазина
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <table class="table table-responsive table-striped table-bordered table-sm" style="font-size: 14px;">
            <thead class="thead-default">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Итого</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="rowSelected('test1');">
                    <th scope="row">1</th>
                    <td style="word-break: break-all;">
                        asdfasdfsadfsadfasdfasdfsadasdfasfdasdfsafsafasdfasdff
                    </td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>